/* Import Fonts From Google */

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300&display=swap');

/* Eliminate  Margin,Border and Padding as Default */

body {
    margin: 0;
    border: 0;
    padding: 0;
    background: rgb(63, 161, 251);
    background: linear-gradient(142deg,
     rgba(63, 161, 251, 1) 0%,
     rgba(252, 70, 168, 1) 100%);
     
}

@media only screen and (min-width: 150px) {

    /* Styling for Header Section */

    #header {
        height: 20vh;
    }

    #header-div {
        height: 20vh;
        display: grid;
        align-items: center;
        justify-content: center;
    }

  /* Though not completely identical, the styling for this h1 element is heavily
  dependent on code taken from this source: https://codepen.io/mireille1306/pen/BawdXzY */

    h1 {
        font-family: 'Righteous', cursive;
        text-align: center;
        font-size: 2em;
        margin: auto;
        padding: 20px;
        transform: skew(0, -10deg);
        order: 2;
        color: #fde9ff;
        text-shadow: 3px 1px 1px #e62822, 2px 2px 1px #e903af, 4px 2px 1px #f58608,
        3px 3px 1px #e62822, 5px 3px 1px #e903af, 4px 4px 1px #f58608;
}

/* Styling for Game Area */

.difficulty-div {
    margin-top: 20px;
}

/* Styling for h1 that was taken from external source slightly adapted here */

h2, .score-incrementor {
    font-family: 'Righteous', cursive;
    font-weight: lighter;
    text-align: center;
    font-size: 1em;
    color: #fde9ff;
    text-shadow: 3px 1px 1px #e62822, 2px 2px 1px #e903af, 4px 2px 1px #f58608,
    3px 3px 1px #e62822, 5px 3px 1px #e903af, 4px 4px 1px #f58608;
}

/* Though not identical, hover, active, shadow and click effects for these buttons 
heavily dependent on code taken from this source: https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate3 */

.button {
    display: inline-flex;
    font-size: 0.8em;
    font-family: 'Righteous';
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #e62822;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #fff;
    font-weight: lighter;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button-container {
    text-align: center;
    justify-content: center;
    padding: auto;
    margin-top: 40px;
  }
  
  
  .button-div {
    display: inline-flex;
    width: 40vw;
    text-align: center;
    justify-content: center;
    
  }

  #interval-button-div {
    text-align: center;
    
  }

  .interval-button {
    height: 25vh;
    width: 90vw;
    background-color: rgba(255, 255, 255, 0);
    font-size: 5em;
    color: #fff;
    text-shadow: 3px 1px 1px #e62822;
    border: none;
    cursor: pointer;
  }

  .interval-button:hover {transform: translateY(4px);
  }
  
  .interval-button:active {
    transform: translateY(4px);
  }

  label {
    font-family: 'Righteous', cursive;
    color: #fff;
    text-shadow: 3px 1px 1px #e62822;
  }

  .input-div {
    text-align: center;
  }

  .interval-quality-div {
    text-align: center;
  }

  #interval-quality {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  #interval-number {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .notes-button1 {
    text-align: center;
    font-weight: lighter;
  }

  .notes-button2 {
    text-align: center;
    margin-top: 20px;
    font-weight: lighter;
  }

  .submit-div {
    margin-top: 20px;
  }

}

/* 320px Breakpoint */

@media only screen and (min-width: 320px) {
  h1 {
    font-size: 2.5em;
  }

  h2, .score-incrementor {
    font-size: 1.5em;
  }

  .button {
    font-size: 1.2em;
  }

  .interval-button {
    font-size: 6em;
    height: 33vh;
  }

  .input-div {
    display: grid;
    grid-template-columns: auto auto;
  }

  label {
    font-size: 1.2em;
  }

  .label {
    padding-top: 10px;
  }
}

/* 480px Breakpoint */

@media only screen and (min-width: 480px) {
  .difficulty-div {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
  }

  .button-div {
    display: inline-flex;
    width: 40%;
    text-align: left;
    justify-content: left;
    }

  .button-container {
    margin-top: 20px;
    margin-right: 10px;
    width: auto;
  }

  .interval-button {
    font-size: 7em;
    height: 40vh;
  }

  label {
    font-size: 1.5em;
  }

  .notes-button-div {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }

  .notes-button1, .notes-button2 {
    display: inline-flex;
    text-align: left;
    width: auto;
  }

  .notes-button2 {
    margin-top: 0;
  }

  .submit-div {
    margin-top: 60px;
  }

  .score-div {
    margin-top: 40px;
  }
}

/* 770px Breakpoint */

@media only screen and (min-width: 770px) {
  h1 {
    font-size: 3.5em;
    margin-top: 40px;
  }

  .difficulty-div {
   width: 60vw;
   margin-left: 20vw;
   margin-right: 20vw;
   margin-top: 80px;
  }

  .button-container {
    margin-top: 20px;
  }

  .button {
    font-size: 1.2em;
  }

  .interval-button {
    font-size: 12em;
    height: 40vh;
    margin-top: 20px;
  }

  h2, .score-incrementor, label {
    font-size: 1.5em;
  }

  .input-div, .notes-button-div {
    width: 50vw;
    margin-right: 25vw;
    margin-left: 25vw;
  }

  .notes-button-div {
    margin-top: 40px;
  }
}

.notes {
 
}